.login-form{
    display: flex;
    flex-direction: column;
}

.login-form-input{
    background-color: #292929;
    margin-bottom:15px ;
    height: 25px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
}

#submit-btn{
    padding-top: 0;
    height: 40px !important;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 350;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    align-content: center;
    justify-content: center;
}

#submit-btn:hover{
    background-color: #303250;
    font-size: 24px;
}
.headline{
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: 300;
}