.topic-wrapper{
    display: flex;
    flex-direction: row;
    height: 280px;
    width: 100vw;
    overflow-x: scroll;
    padding: 10px;
}
.topic-headline{
    text-align: start;
}

.topic-tile{
    padding: 5px;
    list-style: none;
    width: 150px;
    min-width: 150px;
    margin-left: 10px;
    background-color: rgba(74, 74, 75, 0.377);
    border-radius: 10px;
}
.topic-wrapper :hover{
    background-color: rgba(30, 30, 31, 0.476);
    cursor: pointer;
    overflow: visible;
    height: fit-content;
}
.tile-headline{
    height: 25px;
}


.description{
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.level{
    margin-bottom: 10px;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
    background-color: rgb(48, 49, 49);
}